$root: (
  fontSize: 18px,
  lineHeight: 29px
);

$scale0: (
  fontSize: 1em,
  line: 1.61111111em,
  autoLineCount: 1,
  autoLineHeight: 1.61111111em
);

$scale1: (
  fontSize: 1.38888889em,
  line: 1.16em,
  autoLineCount: 1,
  autoLineHeight: 1.16em
);

$scale2: (
  fontSize: 2em,
  line: 0.80555556em,
  autoLineCount: 2,
  autoLineHeight: 1.61111111em
);

$scale3: (
  fontSize: 2.83333333em,
  line: 0.56862745em,
  autoLineCount: 2,
  autoLineHeight: 1.1372549em
);

$scale4: (
  fontSize: 4em,
  line: 0.40277778em,
  autoLineCount: 3,
  autoLineHeight: 1.20833333em
);

$scale5: (
  fontSize: 5.66666667em,
  line: 0.28431373em,
  autoLineCount: 4,
  autoLineHeight: 1.1372549em
);

$scale6: (
  fontSize: 8em,
  line: 0.20138889em,
  autoLineCount: 5,
  autoLineHeight: 1.00694444em
);

$scale7: (
  fontSize: 11.27777778em,
  line: 0.14285714em,
  autoLineCount: 7,
  autoLineHeight: 1em
);

$scale8: (
  fontSize: 16em,
  line: 0.10069444em,
  autoLineCount: 10,
  autoLineHeight: 1.00694444em
);

$scale9: (
  fontSize: 22.61111111em,
  line: 0.07125307em,
  autoLineCount: 15,
  autoLineHeight: 1.06879607em
);

$scale10: (
  fontSize: 31.94444444em,
  line: 0.05043478em,
  autoLineCount: 20,
  autoLineHeight: 1.00869565em
);

$scale11: (
  fontSize: 45.16666667em,
  line: 0.03567036em,
  autoLineCount: 29,
  autoLineHeight: 1.03444034em
);

$scale12: (
  fontSize: 63.88888889em,
  line: 0.02521739em,
  autoLineCount: 40,
  autoLineHeight: 1.00869565em
);