@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Merriweather:700');

$serif-font: 'Merriweather', serif !default;
$sanserif-font: 'Source Sans Pro', sans-serif !default;

$heading-font: $serif-font !default;
$heading-font-weight: 700 !default;

$copy-font: $sanserif-font !default;
$copy-font-weight: 400;

$link-font: $sanserif-font;
$link-font-weight: 600;

// *,
// *:before,
// *:after {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

// html,
// body,
// #root {
//   height: 100%;
//   width: 100%;
// }

// html {
//   font-size: 18px;
//   line-height: 30px;
// }

// body {
//   margin: 0;
//   padding: 0;
//   font-family: $copy-font;
//   font-weight: $copy-font-weight;
//   font-size: 1rem;
//   line-height: 1.4;
//   color: #333;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: auto;
//   text-rendering: optimizeLegibility;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $heading-font;
//   font-weight: $heading-font-weight;
//   color: #444;
// }

// input,
// textarea,
// button,
// select,
// label,
// a {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

// button {
//   display: inline-block;
//   background: transparent;
//   border: none;
//   font-size: inherit;
//   font-family: inherit;
//   font-weight: $link-font-weight;
//   cursor: pointer;

//   &:focus {
//     outline: none;
//   }
// }

// a {
//   color: currentColor;
//   font-family: $link-font;
//   font-weight: $link-font-weight;
//   text-decoration: none;

//   &:hover,
//   &:focus {
//     text-decoration: underline;
//   }

//   &:focus {
//     outline: none;
//   }
// }

// img {
//   max-width: 100%;
//   height: auto;
// }

// p {
//   font-size: 1.1em;
//   line-height: 1.54;
// }

// // TODO: update to follow a scale
// h1 {
//   font-size: 1.8rem;
//   margin-top: 2.8rem;
//   margin-bottom: 1.4rem;
// }

// h2 {
//   font-size: 1.56rem;
//   // line-height: 2;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

// h3 {
//   font-size: 1rem;
//   // line-height: 1.5;
//   margin-top: 1.5rem;
//   margin-bottom: 1.5rem;
// }

// p,
// ul,
// ol,
// pre,
// table,
// blockquote {
//   margin-top: 0rem;
//   margin-bottom: 1.5em;
// }
// ul ul,
// ol ol,
// ul ol,
// ol ul {
//   margin-top: 0;
//   margin-bottom: 0;
// }

// /* Let's make sure all's aligned */
// hr {
//   border: 1px solid;
//   margin: -1px 0;
// }
// a,
// b,
// i,
// strong,
// em,
// small,
// code {
//   line-height: 0;
// }
// sub,
// sup {
//   line-height: 0;
//   position: relative;
//   vertical-align: baseline;
// }
// sup {
//   top: -0.5em;
// }
// sub {
//   bottom: -0.25em;
// }
