// Quill Editor Overrides

.ql-container {
  font-size: inherit;
}

.ql-editor {
  line-height: inherit;
  padding: 0;
}

.ql-bubble .ql-editor h2 {
  font-size: 1.6111111rem;
  margin-bottom: 0.8rem;
}

.ql-bubble .ql-editor h3 {
  font-size: 1.36rem;
  margin-bottom: 0.5rem;
}

.ql-editor p {
  margin-bottom: 1.5rem;
}

.ql-editor.ql-blank::before {
  color: #ccc;
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: normal;
}

.ql-bubble .ql-editor blockquote {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  // padding-left: 0;
  padding: 0.8rem 1.2rem;
  border-radius: 0.15rem;
  // color: #454545;
  // text-align: justify;
  // font-size: 1.1em;
  line-height: 1.35em;
  // font-style: italic;
  // background: #faf9f9;
  border-left: none;
  position: relative;

  &:before,
  &:after {
    font-size: 1.8em;
    // line-height: 0.7em;
    vertical-align: -0.3em;
    // color: #555;
  }

  &:before {
    content: '\201c';
    margin-right: 0.2em;
  }

  &:after {
    content: '\201d';
    margin-left: 0.15em;
  }
}

// was trying to use another editor for the title. not using atm but need to revisit
// .title-editor {
//   margin-top: 3rem;
//   margin-bottom: 1.8rem;
// }

// .title-editor .ql-editor.ql-blank::before {
//   color: #ccc;
//   font-size: 2rem;
//   font-family: 'Roboto Slab', serif;
//   font-weight: 400;
// }
