// Quill Editor Overrides

.ql-container {
  font-size: inherit;
}

.ql-editor {
  line-height: inherit;
  padding: 0;
}

.ql-bubble .ql-editor h2 {
  font-size: 1.6111111rem;
  margin-bottom: 0.8rem;
}

.ql-bubble .ql-editor h3 {
  font-size: 1.36rem;
  margin-bottom: 0.5rem;
}

.ql-editor p {
  margin-bottom: 1.5rem;
}

.ql-editor.ql-blank::before {
  color: #ccc;
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: normal;
}

// was trying to use another editor for the title. not using atm but need to revisit
// .title-editor {
//   margin-top: 3rem;
//   margin-bottom: 1.8rem;
// }

// .title-editor .ql-editor.ql-blank::before {
//   color: #ccc;
//   font-size: 2rem;
//   font-family: 'Roboto Slab', serif;
//   font-weight: 400;
// }
