// Quill Editor Overrides

.ql-container {
  font-size: inherit;
}

.ql-editor {
  line-height: inherit;
  padding: 0;
}

.ql-bubble .ql-editor h2 {
  font-size: 1.6111111rem;
  margin-bottom: 0.8rem;
}

.ql-bubble .ql-editor h3 {
  font-size: 1.36rem;
  margin-bottom: 0.5rem;
}

.ql-editor p {
  margin-bottom: 1.5rem;
}

.ql-editor.ql-blank::before {
  color: #ccc;
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: normal;
}

.ql-bubble .ql-editor blockquote {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 0.8rem;
  margin-left: 2vw;
  line-height: 1.44em;
  border-left: 3px solid lightseagreen;
  font-size: 1.1em;
  color: darkgray;

  &:before,
  &:after {
    font-size: 1.8em;
    vertical-align: -0.2em;
  }

  &:before {
    content: '\201c';
    margin-right: 0.15em;
  }

  &:after {
    content: '\201d';
    margin-left: 0.15em;
  }
}

// was trying to use another editor for the title. not using atm but need to revisit
// .title-editor {
//   margin-top: 3rem;
//   margin-bottom: 1.8rem;
// }

// .title-editor .ql-editor.ql-blank::before {
//   color: #ccc;
//   font-size: 2rem;
//   font-family: 'Roboto Slab', serif;
//   font-weight: 400;
// }
