.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Clears Floats
.clearfix {

  &:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }
}