.story {
  border: 1px solid #EEE;
  border-radius: 1px;
  padding: 1rem;
  // box-shadow: 0 0 4px 1px rgba(#444, .10);

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  h2 {
    margin-top: 0;
  }
}