// .avatar {
//   margin-bottom: 1rem;
// }

.avatar__image {
  display: inline-block;
  max-width: 2.5rem;
  margin-right: .5rem;
  vertical-align: middle;
  border: 2px solid transparent;
  // border-color: rgba(slateblue, 0.6);
  // border-color: #333;
  border-radius: 50%;
  opacity: 0.8;
  // transition: border-color 100ms linear;
  transition: opacity 200ms linear;

  // &:hover,
  // &:focus,
  // &.active {
  //   border-color: rgba(slateblue, 1.0);
  // }
  &:hover,
  &:focus,
  &.active {
    opacity: 1.0;
  }
}

.avatar__image--small {
  max-width: 2rem;
}

.avatar__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
}
