.container {
  max-width: 82rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

// .page-container {
//   padding-top: 2rem;
//   padding-bottom: 2rem;
// }

.story-container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  // text-align: justify;
}